@model List<Model.EF.Product>
@{
    var category = (Model.EF.Category)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var categoryProduct = (List<Model.EF.Category>)ViewBag.Category;
    //var listbrand = (List<Model.EF.Brand>)ViewBag.Brand;
}

<div class="container">
    <div class="sb-breadcrumbs breadcrumb-bg ">
        <div class="entry-header" style="background-color:#1f2534">
            <h3 class="entry-title">
                @category.Name
            </h3>
            <ul class="breadcrumb ">
                <li class="breadcrumb-item ">
                    <i class="fa fa-home"></i>
                    <a href="/" class="breadcrumb-label">
                        Trang Chủ
                    </a>
                </li>

                <li class="breadcrumb-item is-active">
                    <a href="/san-pham/@category.MetaTitle-@category.ID" class="breadcrumb-label">
                        @category.Name
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="Close" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<div class="main-body clearfix sidebar--left">

    <div class="container">
        <div class="row page">

            <aside class="col-xl-3 col-lg-3 page-sidebar sidebar-offcanvas" id="faceted-search-container">
                <nav>
                    <span id="close-sidebar" class=" fa fa-times"></span>

                    <!-- BEGIN Side All Categories -->
                    <div class="module  sidebar--categories">
                        <h5 class="block-title"> All Categories</h5>
                        <div class="block-content clearfix">
                            <ul class="navList">
                                @*@foreach (var item in categoryProduct)
                                    {*@
                                <li class="navList-item">
                                    <a class="navList-action has-subMenu is-current" href="index.html"> Collections </a>
                                    <a class="navList-toggle" data-collapsible="navList-category-23"><i class="icon navList-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>

                                    <ul class="navList-subMenu-list" id="navList-category-23">
                                        <li class="navList-subMenu-item">
                                            <a class="navList-subMenu-action navList-action has-subMenu" href="../smartphone/electronic/index.html" alt="Electronic" title="Electronic">Electronic </a>
                                            <a class="navList-subMenu-toggle navList-toggle" data-collapsible="navList-category-24"><i class="icon navList-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
                                            <ul class="navList-childList" id="navList-category-24">
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/electronic/fans/index.html">Fans</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/electronic/headphone/index.html">Headphone</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/electronic/smartphone/index.html">Smartphone</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/electronic/tv/index.html">TV</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="navList-subMenu-item">
                                            <a class="navList-subMenu-action navList-action has-subMenu" href="../smartphone/game-box/index.html" alt="Game box" title="Game box">Game box </a>
                                            <a class="navList-subMenu-toggle navList-toggle" data-collapsible="navList-category-26"><i class="icon navList-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
                                            <ul class="navList-childList" id="navList-category-26">
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/game-box/accessories/index.html">Accessories</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/game-box/microsoft/index.html">Microsoft</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/game-box/nvidia/index.html">Nvidia</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/game-box/sony/index.html">Sony</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="navList-subMenu-item">
                                            <a class="navList-subMenu-action navList-action has-subMenu" href="headphone/index.html" alt="Headphone" title="Headphone">Headphone </a>
                                            <a class="navList-subMenu-toggle navList-toggle" data-collapsible="navList-category-27"><i class="icon navList-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
                                            <ul class="navList-childList" id="navList-category-27">
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/headphone/apple/index.html">Apple</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/headphone/beats-audio/index.html">Beats Audio</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/headphone/microlab/index.html">Microlab</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/headphone/sony-walkman/index.html">Sony walkman</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="navList-subMenu-item">
                                            <a class="navList-subMenu-action navList-action has-subMenu" href="../smartphone/camera/index.html" alt="Camera" title="Camera">Camera </a>
                                            <a class="navList-subMenu-toggle navList-toggle" data-collapsible="navList-category-25"><i class="icon navList-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
                                            <ul class="navList-childList" id="navList-category-25">
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/camera/accessories/index.html">Accessories</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/camera/cannon/index.html">Cannon</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/camera/lg/index.html">LG</a>
                                                </li>
                                                <li class="navList-childList-item">
                                                    <a class="navList-childList-action navList-action" href="../smartphone/camera/nikon/index.html">Nikon</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                @*}*@
                            </ul>
                        </div>
                    </div>

                    <div class="module">
                        <h5 class="block-title">Shop By Price</h5>
                        <div class="block-content clearfix">
                            <ul class="navList">
                                <li class="navList-item">
                                    <a class="navList-action " href="indexe8e8.html?price_min=0&amp;price_max=51&amp;sort=featured" alt="$0.00 - $51.00" title="$0.00 - $51.00">$0.00 - $51.00</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action " href="index930c.html?price_min=51&amp;price_max=94&amp;sort=featured" alt="$51.00 - $94.00" title="$51.00 - $94.00">$51.00 - $94.00</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action " href="indexc96c.html?price_min=94&amp;price_max=138&amp;sort=featured" alt="$94.00 - $138.00" title="$94.00 - $138.00">$94.00 - $138.00</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action " href="index2200.html?price_min=138&amp;price_max=181&amp;sort=featured" alt="$138.00 - $181.00" title="$138.00 - $181.00">$138.00 - $181.00</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action " href="indexc8fe.html?price_min=181&amp;price_max=225&amp;sort=featured" alt="$181.00 - $225.00" title="$181.00 - $225.00">$181.00 - $225.00</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="module sb-banner sb-banner--cmsblock ">
                        <div class="row">
                            <div class="col-sm-12 col-12">

                                <h5 class="block-title"> Custom CMS Block</h5>

                                <div class="block-content clearfix ">



                                    <div class="banners info-">
                                        <div class="banner-figure">

                                            <a href="#">
                                                <img class="img-fluid" src="../../cdn11.bigcommerce.com/s-5jeysafj8q/content/home2/banners/3.jpg" alt="Custom Title" />
                                            </a>
                                        </div>

                                        <div class="banner-figcaption">
                                            <div class="banner-figcaption__body">
                                                <h5 class="banner-figcaption__title">Custom Title</h5>

                                                <p class="banner-figcaption__text"><p>Custom CMS block displayed at the left sidebar on the Catalog Page. Put your own content here: text, html, images, media... whatever you like.</p></p>

                                                <a href="#" class="button button--primary  banner-figcaption__button"> Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="module sb-banner sb-banner--sidebarBanner ">
                        <div class="row">
                            <div class="col-sm-12 col-12">


                                <div class="block-content clearfix ">



                                    <div class="banners info-">
                                        <div class="banner-figure">

                                            <a href="#">
                                                <img class="img-fluid" src="../../cdn11.bigcommerce.com/s-5jeysafj8q/content/home1/banners/image-left.jpg" alt=" " />
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </nav>
            </aside>

            <main class="col-xl-9 col-lg-9 page-content" id="product-listing-container">
                <div class="products-category clearfix">
                    @*<div class="form-group category-info">
                            <h3 class="title-category ">Collections</h3>


                            <div class="category-info__desc">
                                <p>&nbsp;<img class="__mce_add_custom__" title="bottom-1-30432.jpg" src="../../cdn11.bigcommerce.com/s-5jeysafj8q/product_images/uploaded_images/bottom-1-30432.jpg" alt="bottom-1-30432.jpg" width="1170" height="200" /></p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                            </div>

                        </div>*@

                    <div class="refine-search form-group clearfix">
                        <h3 class="title-category">Sub Categories</h3>
                        <div class="refine-search__content blank row">
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/electronic/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-1__25533.original.jpg" alt="Electronic" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/electronic/index.html">Electronic</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/game-box/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/q/icon-5__47815.original.jpg" alt="Game box" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/game-box/index.html">Game box</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="headphone/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/d/icon-2__26943.original.jpg" alt="Headphone" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="headphone/index.html">Headphone</a>
                                    </h4>

                                </div>
                            </div>
                            <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                                <a href="../smartphone/camera/index.html" class="img-thumbnail"><img src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/original/h/icon-4__44977.original.jpg" alt="Camera" /></a>
                                <div class="refine-search__subitem-body">
                                    <h4 class="refine-search__subitem-name">
                                        <a href="../smartphone/camera/index.html">Camera</a>
                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>


                    <form class=" row filters-panel" method="get" data-sort-by>
                        <div class="col-sm-6 view-mode" data-reinitView="grid-3">
                            <div class="sidebar-overlay"></div>
                            <a href="javascript:void(0)" class="open-sidebar d-md-block d-lg-none"><i class="fa fa-bars"></i> Sidebar </a>

                            <div class="list-view">
                                <div class="btn btn-gridview">View as: </div>
                                <button type="button" id="grid-view-2" class="btn btn-view d-none d-xl-block">2</button>
                                <button type="button" id="grid-view-3" class="btn btn-view d-none d-xl-block">3</button>
                                <button type="button" id="grid-view-4" class="btn btn-view d-none d-xl-block">4</button>
                                <button type="button" id="grid-view" class="btn btn-view grid d-md-block d-xl-none" title=""><i class="fa fa-th-large"></i></button>
                                <button type="button" id="list-view" class="btn btn-view list " title=""><i class="fa fa-bars"></i></button>
                                <button type="button" id="table-view" class="btn btn-view d-none d-xl-block"><i class="fa fa-table" aria-hidden="true"></i></button>

                            </div>
                        </div>
                        <div class="short-by-show col-sm-6 col-xs-12 ">
                            <div class="float-right actionBar-section">
                                <div class="form-field">
                                    <label class="form-label" for="sort">Sort By:</label>
                                    <select class="form-select form-select--small" name="sort" id="sort">
                                        <option value="featured" selected>Featured Items</option>
                                        <option value="newest">Newest Items</option>
                                        <option value="bestselling">Best Selling</option>
                                        <option value="alphaasc">A to Z</option>
                                        <option value="alphadesc">Z to A</option>
                                        <option value="avgcustomerreview">By Review</option>
                                        <option value="priceasc">Price: Ascending</option>
                                        <option value="pricedesc">Price: Descending</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>

                    <form action="https://sb-clickboom.mybigcommerce.com/compare" method='POST' data-product-compare>
                        <div class="products-list row">
                            @foreach (var item in Model)
                            {
                                var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <div class="product-layout product-grid product-grid-4 col-lg-3 col-md-4 col-12">
                                    <article class="product-item-container ">
                                        <div class="left-block ">
                                            <div class="sale-flag-discount">
                                                <span class="sale-text">-30%</span>
                                            </div>

                                            @*<div class="product-card__gallery product-card__right d-none d-sm-block">
                                                    <div class="item-img thumb-active " data-src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/400x400/products/93/397/10__85920.15427884574847.jpg?c=2">
                                                        <img class="card-image lazyload" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-5jeysafj8q/stencil/d7a3b3a0-fb9a-0136-bca6-1b3c63b2f4dc/e/7d147310-fb9b-0136-a892-03abfbabe237/img/loading.svg" data-src="https://cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/60x60/products/93/397/10__85920.1542788457.jpg?c=2" alt="1 L Le Parfait Jar" title="1 L Le Parfait Jar">
                                                    </div>
                                                    <div class="item-img " data-src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/400x400/products/93/398/16__18551.15427884584847.jpg?c=2">
                                                        <img class="card-image lazyload" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-5jeysafj8q/stencil/d7a3b3a0-fb9a-0136-bca6-1b3c63b2f4dc/e/7d147310-fb9b-0136-a892-03abfbabe237/img/loading.svg" data-src="https://cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/60x60/products/93/398/16__18551.1542788458.jpg?c=2" alt="1 L Le Parfait Jar" title="1 L Le Parfait Jar">
                                                    </div>
                                                    <div class="item-img " data-src="../../cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/400x400/products/93/399/21__42717.15427884584847.jpg?c=2">
                                                        <img class="card-image lazyload" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-5jeysafj8q/stencil/d7a3b3a0-fb9a-0136-bca6-1b3c63b2f4dc/e/7d147310-fb9b-0136-a892-03abfbabe237/img/loading.svg" data-src="https://cdn11.bigcommerce.com/s-5jeysafj8q/images/stencil/60x60/products/93/399/21__42717.1542788458.jpg?c=2" alt="1 L Le Parfait Jar" title="1 L Le Parfait Jar">
                                                    </div>
                                                </div>*@

                                            <a href="@link" class="product-item-photo">
                                                <img class="img-responsive lazyload" data-sizes="auto" src="@item.Image" data-src="@item.Image" alt="" title="">
                                            </a>

                                            <a href="#" class="quickview btn-button d-none d-md-block" data-animation="false" data-product-id="93" title="Quick view"> <i class="fa fa-search"></i></a>



                                        </div>

                                        <div class="right-block" data-card-body="93">
                                            <h4 class="card-title">
                                                <a href="../1-l-le-parfait-jar/index.html">@item.Name</a>

                                            </h4>
                                            <p class="card-text" data-test-info-type="brandName">OFS</p>


                                            <div class="price-section price-section--withoutTax ">

                                                <span data-product-price-without-tax class="price price--withoutTax"> @(item.Price.HasValue ? item.Price.Value.ToString("0") : "Liên hệ")</span>

                                                <!--MSRP:-->
                                                <span data-product-rrp-price-without-tax class="price price--rrp">  @(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("0") : "Liên hệ")</span>

                                                <!--Was:-->
                                                <span data-product-non-sale-price-without-tax class="price price--rrp"> 0</span>

                                            </div>


                                            <div class="ratings ">
                                                <div class="prod-rating" data-test-info-type="productRating">
                                                    <span class="rating--small">
                                                        <span class="icon icon--ratingFull">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingFull">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingFull">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingFull">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingFull">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <!-- snippet location product_rating -->

                                                    </span>
                                                </div>
                                            </div>


                                            <div class="description">
                                                When translated Le Parfait means "the perfect one" - and that's just what this air-tight jar is. Designed for canning, these jars will ensure your harvest does not spoil, but is kept well-preserved for those cold winter months that lie ahead. Also can be...
                                            </div>

                                            <div class="button-group">

                                                <div class="action-item wishlist">
                                                    <form class="form" method="post" action="https://sb-clickboom.mybigcommerce.com/wishlist.php?action=add&amp;product_id=93" data-wishlist-add>
                                                        <input type="hidden" name="variation_id" value="">
                                                        <input class="button button--small card-figcaption-button" type="hidden" value="Add to Wish List">

                                                        <button class="action-link button--wishlist" type="submit" title="Add to Wish List">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </form>

                                                </div>


                                                <div class="action-item addToCart option">
                                                    <a href="/gio-hang/@item.ID" class="quickview action-link  button--cart" data-animation="false" data-product-id="93" title="Thêm vào gi? hàng"> Thêm vào gi? hàng</a>
                                                </div>


                                                <div class="action-item compare ">
                                                    <input class="form-check-input" type="checkbox" name="products[]" value="93" data-compare-id="93">
                                                    <label class="form-check-label">
                                                        <i class="fa fa-refresh"></i>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </article>
                                </div>

                            }
                        </div>

                    </form>
                    <!--Phaan trang-->
                    @if (ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = ((int)ViewBag.Page);

                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                        var link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
                        <div class="pagination">
                            <ul class="pagination-list">
                                @if (currentPage > ViewBag.First)
                                {
                                    <li class="pagination-item pagination-item--previous">
                                        <a href="@link?page=@ViewBag.First" title="Trang đầu" class="pagination-link" data-faceted-search-facet>
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="pagination-item ">
                                      
                                        <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="pagination-link" data-faceted-search-facet>
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>

                                }
                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                {
                                    if (currentPage == i)
                                    {

                                        <li class="pagination-item pagination-item--current "> <a href="@link?page=@i" class="pagination-link" data-faceted-search-facet title="Trang @i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="pagination-item "><a href="@link?page=@i" class="pagination-link" data-faceted-search-facet title="Trang @i" class="pos">@i</a></li>
                                    }
                                }
                                @if (currentPage < totalPage)
                                {
                                        <li class="pagination-item ">
                                         
                                            <a href="@link?page=@ViewBag.Next" class="pagination-link" data-faceted-search-facet title="Trang sau">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    <li class="pagination-item ">
                                        <a href="@link?page=@ViewBag.Last" class="pagination-link" data-faceted-search-facet title="Trang cuối">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    else
                    {
                        <span> Không có sản phẩm</span>
                    }


                   

                </div>

            </main>


        </div>
    </div>


</div>