@model Model.EF.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{ Thêm mới}
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Users">@Html.ActionLink("Danh sách", "Index")</a></li>
                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#">đá</a></li>
            </ul>
            <div class="body">
                <form id="basic-form" method="post" novalidate>
                    @using (Html.BeginForm("Create", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">@ViewBag.Success</div>
                        }
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Tài khoản</label>
                                <input type="text" id="UserName" name="UserName" placeholder="Nhập tên tài khoản" class="form-control" required>
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Mật khẩu</label>
                                <input type="password" id="Password" name="Password" placeholder="Nhập mật khẩu" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Tên</label>
                                <input type="text" id="Name" name="Name" placeholder="Nhập tên" class="form-control" required>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-4">
                                <label>Ảnh đại diện</label>
                                <input type="file" id="Image" name="Image" class="form-control" accept=".jpg,.png,.gif,.jpeg,.bmp" required>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Địa chỉ</label>
                                <input type="text" id="Address" name="Address" placeholder="Nhập địa chỉ" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Email</label>
                                <input type="text" id="Email" name="Email" placeholder="Nhập email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Điện thoại</label>
                                <input type="text" id="Phone" name="Phone" placeholder="Nhập số điện thoại" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                        <div>
                            @Html.ActionLink("Quay lại", "Index")
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
